.recipe-list {
  margin-top: 1.5rem;

  @include respond(tab-land) {
    margin: 0;
    padding: 1.5rem 0;
    a:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  @include respond(tab-land) {
    display: flex;
    overflow: auto;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: var(--color-black);
  }
  
  &__item {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;

    @include respond(tab-land) {
      width: 30rem;
      padding: 1rem 1rem;
      background-color: var(--color-grey-light);
      border-radius: 15rem;
    }
    
  }

  &__item:hover &__img {
    border: 2px solid var(--color-tertiary-dark);
  }

  &__item:hover &__title::after {
    width: 5rem;
    transition: width .5s ease-in;
  }

  &__img {
    display: block;
    flex: 0 0 15rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.5rem;

    transition: border .2s ease-in;

    @include respond(tab-land) {
      flex: 0 0 7rem;
      width: 7rem;
      height: 7rem;
    }
  }

  &__title {
    position: relative;
    font-size: 1.7rem;

    @include respond(tab-land) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 17rem;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: var(--color-tertiary-dark);
    }
  }

  &__publisher {
    display: inline-block;
    margin-top: .5rem;
  }
}