.recipe-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {

  &__hero-img {
    width: 70%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    position: relative;

    @include respond(tab-land) {
      width: 100%;
    }
  }

  &__hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(phone) {
      left: 15%;
      transform: translate(0, -50%);
    }
  }

  &__ingredients {
    list-style: none;
    column-count: 2;
    column-gap: 4rem;

    @include respond(phone) {
      column-count: 1;
      padding: 0 3rem;
    }
  }

  &__ingredient {
    font-size: 1.3rem;
    margin-bottom: 1rem;

    .icon-primary {
      margin-right: .5rem;
    }
  }
}