.icon-primary {
  width: 2rem;
  height: 2rem;
}

.icon-secondary {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-checkmark {
  fill: var(--color-success);
}

.icon-search {
  fill: var(--color-grey-dark-1);
  transform: translateX(-3rem);
}