.search {
  flex: 0 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(phone) {
    flex: 0 1 85%;
  }

  &__input {
    font: inherit;
    border-radius: 5rem;
    outline: none;
    border: 1.5px solid var(--color-tertiary-dark);
    padding: .5rem 2rem;
    width: 70%;
    box-shadow: none;

    transition: all .2s;

    &:focus {
      width: 75%;
      box-shadow: var(--shadow-dark-1);
    }

    &:disabled {
      background: var(--color-grey-light)
    }
  }

  &__btn {
    font: inherit;
    width: 12%;
    border-radius: 5rem;
    outline: none;
    border: none;
    padding: 0 2rem;
  }
}
