.recipe-side {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: calc(#{$navbar-height} + 2rem);

  @include respond(tab-land) {
    position: static;
    flex: auto;
    width: auto;
    height: auto;
    overflow: hidden;
    padding-top: 1rem;
  }

}