/****************
** MEDIA QUERY MANAGER ******
*****************/
/*
0-600px;    Phone
600-900px;  Tablet portrait
900-1200px; Tablet landscape
1800px +;   Big desktop

/*
Breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base -> typography -> general layout(header, footer..) -> grid -> page layout -> components
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone-xs {
    @media only screen and (max-width: 23.5em) { @content };  //375px
  }
  @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content };  //600px
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) { @content };   //900px
  }
  @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) { @content };  //1200px
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) { @content };  //1800px
  }
}

:root {
  --color-primary: #cf455c;
  --color-primary-dark: #b32e44;
  --color-secondary: #ffdd67;
  --color-secondary-dark: #ffd545;
  --color-tertiary: #ff8a5c;
  --color-tertiary-dark: #ff723a;

  --color-grey-dark: #444444;
  --color-grey-dark-1: #b5b2b2;
  --color-grey-light: #f3f2f1;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-success: #01d28e;

  --shadow-dark: 0 1rem 2rem rgba(0, 0, 0, 0.07);
  --shadow-dark-1: 0 1rem 2rem rgba(0, 0, 0, 0.1);

  --line: 1px solid var(--color-grey-light);
}

/****************
** Variables ******
*****************/
$navbar-height: 6rem;
$sidebar-width: 25%;

/****************
** BASE******
*****************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 57%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-dark);
}

/****************
** HEADINGS******
*****************/

.heading-primary {
  font-size: 4rem;
  color: var(--color-tertiary-dark);
  text-shadow: 2px 3px rgba(#000000, .5);
  margin-bottom: 4rem;
  line-height: 1.4;

  &--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-white);
    text-shadow: 1px 2px rgba(#000000, .5);
    margin-top: 2rem;
  }
}

.heading-tertiary {
  font-size: 2.6rem;
}

.paragraph {
  font-size: 1.7rem;
}


/****************
** COUNTER******
*****************/

.counter {
  position: absolute;
  top: -1.5rem;
  right: -1.75rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-tertiary-dark);

  @include respond(phone) {
    top: 0rem;
    right: 4rem;
  }

  &__number {
    position: absolute;
    display: inline-block;
    padding: .1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    font-size: 1rem;
  }
}


/****************
** Buttons ******
*****************/

.btn,
.btn:active,
.btn:link {
  display: inline-block;
  padding: 1.2rem 2rem;
  border-radius: 3px;
  font: inherit;
  font-size: 1.4rem;
  text-decoration: none;
  border: none;
  outline: none;
  transition: all .2s;
  cursor: pointer;

  &:not(:first-of-type) {
    margin-left: 2rem;
  }
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-dark-1);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: var(--shadow-dark);
}

.btn-primary {
  background-color: var(--color-tertiary-dark);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--color-white);
  color: var(--color-black);

}


/****************
** Utilities ******
*****************/
.ml-2 {
  margin-left: 2rem;
}

.ml {
  margin-left: .5rem;
}

.my-3 {
  margin: 3rem 0;
}

.mb-3 {
  margin-bottom: 3rem;
}

.u-flex-align-center {
  display: flex;
  align-items: center;
}

.u-text-center {
  text-align: center;
}

.u-border-bottom-primary {
  border-bottom: 2px solid var(--color-tertiary-dark);
}

.u-hide-phone {
  @include respond(phone) {
    display: none;
  }
}

/****************
** Selection ******
*****************/


::selection {
  background-color: var(--color-tertiary-dark);
  color: var(--color-white);
}

/****************
** Animation ******
*****************/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/****************
** 404 ******
*****************/
.not-found-404 {
  font-size: 6rem;
  font-weight: 700;
  margin: 15rem auto;
}