:root {
  --color-primary: #cf455c;
  --color-primary-dark: #b32e44;
  --color-secondary: #ffdd67;
  --color-secondary-dark: #ffd545;
  --color-tertiary: #ff8a5c;
  --color-tertiary-dark: #ff723a;

  --color-grey-dark: #444444;
  --color-grey-light: #f3f2f1;

  --color-white: #ffffff;
  --color-black: #000000;

  --shadow-dark: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
  /* --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06); */

  --line: 1px solid var(--color-grey-light-2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-dark);
}

/****************
** HEADINGS******
*****************/

.heading-tertiary {
  font-size: 3rem;
}

